*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

.banner-logo{
    width: 100%;
    max-width: 330px;
}

.banner-group{
    max-width: 550px;
    width: 100%;
    height: auto;
}