@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.banner-logo{
    width: 100%;
    max-width: 330px;
}

.banner-group{
    max-width: 550px;
    width: 100%;
    height: auto;
}

.line{
    position: relative;
    margin-bottom: 2rem;
}

.line::before{
    content: "";
    position: absolute;
    width: 3.75rem;
    height: 0.25rem;
    background-color: #01B1C9;
    bottom: -0.5rem;
}

.line.text-center::before{
    left: 50%;
    transform: translateX(-50%);
}

.line.line-red::before{
    background-color: #FC3F5B;
}



/*  */

.big-heading{
    font-size: 9vw;
    color: #444648;
    opacity: 0.22;
    font-weight: 700;
    line-height: 1;
    text-align: end;
}

/* mobile-col-image */

.mobile-row{
    padding-top: 60px;
}

.mobile-col-image{
    width: 290px;
    margin-top: -60px;
}

.mobile-col-image2{
    width: 580px;
    margin-top: -200px;
}



/* border-line-dot */

.border-line-dot{
    position: relative;
    padding-top: 20px;
}

.border-line-dot::before{
    content: "";
    position: absolute;
    width: calc(100% + 0.75rem);
    height: 5px;
    background: #dcf4f8;
    top: 0;
    left: 0;
}


.border-line-dot::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #dcf4f8;
    top: -6px;
    left: 0;
}

/* .border-line-left-red */

.border-line-left-red{
    text-align: end;
}

.border-line-left-red::after, .border-line-left-red::before{
    background: #fedee3;
}


.border-line-left-red::after{
    left: auto;
    right: 0;
}

.border-line-left-red::before{
    left: auto;
    right: 0;
}

.cam-icon{
    width: 60px;
    height: auto;
}


/* Transparency */

.text-purple{
    color: #8F34D6;
}

/* feature */

.feature_list li{
    margin-bottom: 1rem;
}

.feature_icon{
    height: 3rem;
    margin-bottom: 10px;
}


.feature-line{
    height: 100%;
    width: 1px;
    border-left: 1px dashed #8F8F8F;
    margin: auto;
}

/* coming up */

.coming_up_list li{
    padding-bottom: 0.5rem;
}

.coming_item_open{
    text-decoration: none !important;
    color: inherit !important;
    font-weight: bold;
    position: relative;
}

.coming_item_open::after{
    content: "\f054";
    position: absolute;
    padding-left: 10px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free"; 
    color: #FC3F5B;
    transition: 0.3s;
}

.coming_item_open.active::after{
    transform: rotate(90deg) translateX(-5px) translateY(-5px);
}

.coming_item ul{
    padding-top: 0.75rem;
}


/* faq */

.accordion-item{
    padding: 1rem 1.25rem;
    background: transparent;
    color: #fff;
    border: 1px solid #949494 !important;
    border-radius: 10px !important;
    margin-bottom: 1.25rem;
}

.accordion-item.active{
    background-color: #fff;
    color: inherit;
}

.accordion-header{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    align-items: center;
}

.accordion-item.active .accordion-header{
    font-weight: 500;
}

.accordion-button::after{
    display: none;
}

.accordion-button.collapsed{
    width: 25px;
    height: 25px;
    min-width: 25px;
    background-size: cover;
    background-position: center center;
    padding: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    background-image: url(../images/plus-circle.png);
}

.accordion-button{
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center center;
    padding: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent !important;
    background-image: url(../images/plus-circle1.png);
}

/* guidelines */

.guidelines img{
    margin-bottom: 0.5rem;
}

.guidelines{
    border-right: 1px solid #00000030;
}

/* contact */

#contact{
    background-image: url(../images/contact-bg.png);
    background-size: 100% 100%;
    background-position: center center;
    padding: 6rem 0;
}

.social-icon{
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #8e8e8e;
    color: #fff;
    border-radius: 50%;
    font-size: 1.25rem;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icon:hover{
    color: #fff;
    background-color: #FC3F5B;
}

/* footer */

footer .navbar-nav{
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


footer .navbar-nav .nav-link{
    line-height: 1;
    padding: 0 1rem !important;
    border-right: 1px solid;
}

@media (max-width: 567px) {
    .line{
        text-align: center;
    }
    .line::before{
        left: 50%;
        transform: translateX(-50%);
    }
    .big-heading{
        text-align: center;
        font-size: 18vw;
    }
}